<%= render partial:"blog/public/header", locals:{ str: "bar" } %>

<%= render 'blog/public/flash_notice' %>

<div class="row">
  <div class="col-md-8 main">
    <div class="main-hd">
      <h3>最近的动向</h3>
    </div>
    <div class="main-bd">
      <ul class="events">

        <% @events.each do |event| %>
          <div class="event">

            <li id="event-<%= event.id %>">
              <%= link_to event.title, [:blog, event] , id:"title"%>
              <span class="timestamps">
                Edited
                <%= format_datetime(event.updated_at) %>
              </span>
              <p class="body"><%= sanitize markdown(event.content).to_s[0..450] %></p>
              <span class="posts">
                <ul class="posts">
                  <%= render event.posts[0..2] %>
                </ul>
              </span>

            </li>
          </div>
        <% end %>
        <%= will_paginate @events %>
      </ul>
    </div>

  </div>
</div>
