<article class="grid-item post tag-photography">
  <div class="post-inside">
    <div class="post-bg" style="background-image: url(<%= event.get_logo %>)"></div>
    <header class="post-header">
      <div class="post-tags">
        <% event.tag_list.each do |tag|  %>
          <%= link_to tag, [:blog, :posts, tag: tag] %>
        <% end %>
      </div>
      <h2 class="post-title">
        <%= link_to event.title, [:blog, event] %>
      </h2>
      <div class="post-meta">
        by
        <span class="post-author">
          <%= link_to event.get_owner_name, [:blog, event] %>
        </span>
        on
        <time class="published"><%= format_datetime(event.updated_at) %></time>
      </div>
      <!-- .post-meta -->
    </header>
    <!-- .post-header -->
    <div class="read-more">
      <%= link_to 'Read More', [:blog, event], { class: "button light", title: event.title } %>
    </div>
  </div>
</article>
