<% provide(:title,@event.title) %>
<div class="container">
  <div class="main">
    <header>
      <%= @event.title %>
      <a class="cm-back to_back" href="/wechat/events"></a>
      <a class="to_right" href="/wechat/posts/new?id=<%= @event.id %>">回复</a>
    </header>
    <div class="content">

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <%= render partial: 'slide', collection: @event.photos, as: :slide %>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <script type="text/javascript">
        var swiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          autoplay: 3000
        });
      </script>


      <div class="box">
        <h4>
          <%= @event.get_owner_name %>
          <span>reply at
          </span><%= format_datetime(@event.created_at) %></h4>
        <p>
          <span class="image right">
            <%= image_tag @event.get_avatar  %>
          </span><%= sanitize markdown(@event.content).to_s %></p>
      </div>


      <div class="weui_panel cells_top dropload-content" data-url="/wechat/posts/more?id=<%= @event.id%>">
        <div class="weui_panel_bd list">
          <%= render partial:'post', collection:@posts, as: :post %>
        </div>
      </div>

      <section class="wrapper style1 align-center">
        <div class="inner medium">
          <h2>Reply</h2>
          <%= form_for [:wechat, @post] do |f| %>
          <div class="field">
            <label for="message">Message</label>
            <%= f.text_area :content, value: @post.content, rows:"6" %>
          </div>
          <label for="name">Name</label>
            <div class="field first">
              <%= f.text_field :nickname, value: @post.nickname %>
            </div>
            <%= f.hidden_field :types, value:2 %>
            <%= hidden_field_tag :id, @event.id  %>
            <ul class="actions">
              <li>
                <input type="submit" name="submit" id="submit" value="Send Message" />
              </li>
            </ul>
          <% end %>

        </div>
      </section>
    </div>

  </div>

</div>

<%#= render partial: 'wechat/public/jsapi'  %>

<script type="text/javascript">
  wx.ready(function () {
    wx.onMenuShareAppMessage({title: "<%= @event.title %>", desc: "<%= wechat_desc_for_event(@event) %>", link: "<%= Settings.visit_url %>/wechat/events/<%= @event.id %>", imgUrl: "<%= @event.logo %>", success: function () {}});
    wx.onMenuShareTimeline({title: "<%= @event.title %>", link: "<%= Settings.visit_url %>/wechat/events/<%= @event.id %>", imgUrl: "<%= @event.logo %>", success: function () {}});
  });

  wx.error(function (res) {
    // alert(res);
  });
</script>
