<%= render partial: 'cpanel/public/header', locals: { str: 'events' } %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'cpanel/public/sidebar' %>
    <div class="col-sm-9 col-md-10 main">
      <div class="main-hd">
        <h5>所有案件</h5>
      </div>
      <div class="main-hd">
        <%= render partial: 'cpanel/public/flash_notice', locals: { } %>
        <div class="tab-content">
          <div class="tab-pane active" id="all-order">
            <table class="table table-cmcm">
              <thead>
                <tr>
                  <th width='100px'>LOGO</th>
                  <th>名称</th>
                  <th>创建于</th>
                  <th>更新于</th>
                  <th>操作</th>
                </tr>
              </thead>

              <tbody id="events-body">
                <%= render partial: 'event', collection: @events, as: :event, locals: { page: params[:page] } %>
              </tbody>

            </table>
            <ul class="pagination pull-right">
              <%= will_paginate @events %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
